<div class='span4 offset4'>
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>

  <div><%= f.label :time_zone %>
  <%= f.time_zone_select :time_zone %></div>
<% end %>

<%= render "devise/shared/links" %>
<script type="text/javascript">
	$(document).ready(function(){
    $('#user_time_zone').set_timezone({format: 'city'});
	});
</script>
</div>