<h1>Tasks</h1>

<!-- show accomplishments if any in a table -->

<% if @tasks.any? %>
<table class='table table-condensed'>
  <tr>
    <th>Description</th>
    <th>Points</th>
    <th>Daily Limit</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.description, task %></td>
    <td><%= best_in_place task, :points, :type => :input %></td>
    <td><%= task.daily_limit %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% else %>
<script type="text/javascript">
  $(document).on('ready', function(){
    $('#new_task').addClass('lead')
  })
</script>
<% end %>

<br />

<%= link_to 'New Task', new_task_path, :id => 'new_task' %>
