
<p>
  <b>Description:</b>
  <%= @task.description %>
</p>
<p>
  <b>Points:</b>
  <%= @task.points %>
</p>
<p>
  <b>Daily Limit:</b>
  <%= @task.daily_limit %>
</p>

<p>
	<b>Users:</b>
	<ol>
		<% @task.users.each do |u| %>
			<li><%= u.email %></li>
		<% end %>
	</ol>
</p>

<p>
  <b>Share Task:</b>
  <%= form_tag share_tasks_path, :method => 'put' do %>
  	<%= hidden_field_tag :task_id, @task.id %>
  	<!-- select tag from collection -->
  	<%= select_tag "user_id", options_from_collection_for_select(User.all, "id", "email") %><br>
  	<%= submit_tag :share, :class => 'btn btn-primary' %> 
    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', tasks_path %>  
  <% end %>
</p>

<table>
  <caption>Recent Accomplishments</caption>
  <thead>
    <th>Score</th>
    <th>Completed At</th>
  </thead>
  <tbody>
  <% @task.accomplishments.order_by([:created_at, :desc]).limit(10).each do |acc| %>
    <tr>
      <td><%= acc.score %></td>
      <td><%= time_tag acc.completed_at if acc.completed_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>


