<!-- TODO: way to view your overall progress -->
<h2 class='pull-left'>Progress</h2>
	<form method='get' class='form-inline pull-right' style='margin: 14px;'>
	  <fieldset>
	  	Show: 
	      <%= select_tag 'd', options_for_select(["1", "3", "7", "30", '9001' ], params[:d] ? (params[:d].to_s):("7") ), :class => 'input-mini' %>
	    <button type="submit" class="btn btn-primary">Days</button>
	  </fieldset>
	</form>
<table class='table table-condensed table-bordered' id='progress_table'>
	<thead>
		<tr>
			<th class='centered-text'></th>
			<th class='centered-text'></th>
			<th class='centered-text'>Task</th>
			<th class='centered-text'>points / time</th>
			<th class='centered-text'>times / day</th>
			<% @days.each do |k| %>
				<th class='centered-text'><%= time_tag k %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td>Daily Total:</td>
			<td></td>
			<td></td>
			<% 
				totals = []
			%>
			<% @days.each do |d| %>
			<!-- TODO Optimize -->
				<td class='centered-text'>
					<% 
						total = 0
						max_points = 0
						@tasks.each do |t| 
							a = t.accomplishments.where(:date => d).first
							total = total + a.score if (a && a.score.is_a?(Numeric) )
							# if t.created_at && t.created_at.to_date <= d 
								max_points += t.max_points
							# end
						end
						totals.push(total)
					%>
					<%= total %> / <%= max_points %>
				</td>
			<% end %>
		</tr>
		<% @tasks.each do |t| %>
			<tr>
				<td class='centered-text'><%= link_to '<i class="icon-edit"></i>'.html_safe, edit_task_path(t) %></td>
				<td class='centered-text'><%= link_to '<i class="icon-share"></i>'.html_safe, t %></td>
				<td class='task-description'><%= t.description %></td>
				<td class='centered-text'><%= t.points %></td>
				<td class='centered-text'><%= t.daily_limit %></td>
				<% 
					acs = Hash.new
					t.accomplishments.where(:date.in => @days).each do |a|
						acs[a.date] = a
					end
					%>
				<% @days.each do |d| %>
						<% if d == @days.first %>
					<td class='centered-text' id='<%= t.id.to_s %>'>
							<!-- allow accomplishment to be editable, the above is just one example -->
							<% 
								# create an accomplishment for this day if it does not already exist
								ac = acs[d] ? acs[d] : t.accomplishments.create(:date => d)
							 %>
<strong><%= best_in_place(ac, :score, :type => :select, :collection => ac.task.possible_scores.map {|x| [x.to_f, x.to_s]}, :nil => '<i class="icon-check"></i>', :html_attrs => {:class => 'input-mini'}, display_with: lambda { |dt| number_to_human(dt) }) %></strong>
					</td>
						<% else %>
					<td class='centered-text' id=''>
							<%=  acs[d] ? acs[d].score : '<i class="icon icon-minus"></i>'.html_safe  %>
					</td>
						<% end %>
				<% end %>

			</tr>
		<% end %>
	</tbody>
</table>

<div id="chart" style="width:100%; height:400px;"> 

</div>

<script type="text/javascript">
$(document).ready(function() { 
    Highcharts.setOptions({
        chart: {
            backgroundColor: {
                linearGradient: [500, 500, 0, 0],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(240, 240, 255)']
                    ]
            },
            plotBackgroundColor: 'rgba(255, 255, 255, .9)',
            plotShadow: true,
            plotBorderWidth: 1
        }
    });

    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart'
        },
        title: {
            text: 'Daily Progress by Score'
        },
        xAxis: {
            categories: <%= @days.reverse.map{|t| t.to_s(:rfc822) }.to_json.html_safe %>
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        series: [{
        		name: 'Total Score',
            data: <%= totals.reverse.to_json.html_safe %>
        }]
    });
});
</script>
