<% if @accomplishments.any? %>
	<ul class="unstyled form-inline accomplishment-list">
		<% @accomplishments.each do |ac| %>
		  <li><span class='centered-text'>

		  	<%#= best_in_place ac, :score, :nil => '<i class="icon icon-ok"></i>', :type => 'input', :html_attrs => {:min => 0, :max => ac.task.max_points, :class => 'input-tiny centered-text'} %>

				<%= best_in_place ac, :score, :type => :select, :collection => (0..(ac.max_points)).map {|x| [x.to_f, x.to_s]}, :nil => '<i class="icon icon-ok"></i>', :html_attrs => {:min => 0, :max => ac.task.max_points, :class => 'input-mini'}, :activator => '#'+ac.id  %>

		  </span> <%= label_tag :description, ac.task.description, :id => ac.id %></li>
	  <% end %>
	</ul>
<% end %>
<%#= number_field_tag 'test', 0, :min => 0, :max => 5 %>
<!-- +ac.task.max_points.to_s -->