<div class='span4 offset4'>
	<h2>Sign in</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.label :password %>
	  <%= f.password_field :password %></div>

	  <% if devise_mapping.rememberable? -%>
	  	<label class="checkbox">
	      <%= f.check_box :remember_me %>  Remember Me
	    </label><!-- 
	    <div class='form-inline'><%#= f.label :remember_me %></div> -->
	  <% end -%>

	  <div><%= f.submit "Sign in", :class => 'btn btn-primary' %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>