<br>
<div class='row-fluid'>
  <div class='centered-text'>
    by <%= link_to "Hayk Saakian | my [t]", "http://twitter.com/hayksaakian", :rel => 'author' %> | 
    <%= link_to 'my [G+]', 'https://plus.google.com/113832802297823397419/', :rel => 'author' %>
  </div>
</div>