
<span class='brand'><%= link_to'<strong>Life</strong>board'.html_safe, root_url %></span>
<div class='pull-right'>
  <ul class="nav">
		<% if user_signed_in? %>
		  <li>
		  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
		  </li>
		<% else %>
		  <li>
		  <%= link_to('Login', new_user_session_path)  %>
		  </li>
		<% end %>
		<% if user_signed_in? %>
		  <li>
		  <%= link_to('Edit account', edit_user_registration_path) %>
		  </li>
		<% else %>
		  <li>
		  <%= link_to('Sign up', new_user_registration_path)  %>
		  </li>
		<% end %>
  </ul>
</div>

<div class='pull-left'>
	<ul class='nav'>
		<li><%= link_to 'Progress', progress_path %></li>
		<!-- <li><%= link_to 'Today', today_path %></li>
		 --><li><%= link_to 'Tasks', tasks_path %></li>
		<li><%= link_to 'New Task', new_task_path %></li>
	</ul>
</div>