<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Lifeboard" %></title>
    <meta name="description" content="day to day progress tracking for life">
    <meta name="author" content="Hayk Saakian">
    <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    <%#= analytics_init if Rails.env.production? %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-static-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
      		<%= render 'layouts/navigation' %>          
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <div id='alert_messages'>
          		  <%= render 'layouts/messages' %>
              </div>
              <div><%= yield %></div>
            </div>
          </div>
        </div>
        <footer>         
          <%= render 'layouts/footer' %>
        </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>